@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
.app-body {
    width: 80vw;
    height: 100vh;
    overflow-y:scroll;
    -ms-overflow-style: none;  
    scrollbar-width: none;  
    border: solid;
    margin-left: 17.5vw;
    background: url(https://i.imgur.com/ISzYWxr.jpg);
    background-size: cover;
}
.app-body::-webkit-scrollbar {
    display: none;
}
.home-bg {
    display: inline;
    width: 80vw;
    height: 100vh;
    opacity: 0.55;
    size: cover;
}