.app-body {
    width: 80vw;
    height: 100vh;
    overflow-y:scroll;
    -ms-overflow-style: none;  
    scrollbar-width: none;  
    border: solid;
    margin-left: 17.5vw;
}
.app-body::-webkit-scrollbar {
    display: none;
}
.home-bg {
    display: inline;
    width: 80vw;
    height: 100vh;
    opacity: 0.45;
    size: cover;
}
.home-title {
    margin-top: -85vh;
    margin-left: 3vw;
    color: #eacaca;
}