a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
.console {
    position: absolute;
    background: #00B3A7;
    width: 16vw;
    height: 75vh;
    margin-left: 0.74vw;
    margin-top: 1vh;
    border-radius: 3%;
    
}
.name-header {
    margin-top: 4vh;
    text-align: center;
}
.profile-thumbnail {
    max-width: 12vw;
    margin-left: 1.73vw;
    margin-top: -0.8vh;
    border-radius: 50%;
    border: solid;
    border-width: 2px;
}
.sections-list {
    margin-left: -3vw;
    text-align: center;
}
.media-link-container {
    display: flex;
    flex-flow: row wrap;
    justify-content:  space-evenly;
}
.media-link{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
}
.meida-thumbnail {
    max-width: 4vw;
}
.media-thumbnail {
    max-width: 4vw;
}
h1 {
    text-align: center;
}

